/* default.css */

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 3px;  
}

strong {
  font-size: 18px;
}

div#page {
  padding: 0 0 0 10px;
  width: 950px;
}

div#logo {
  float: left;
  padding: 10px 0;
}

div#address {
  float: right;
  padding: 20px 50px 0 0;
  text-align: right;
}

div#map-canvas {
  width: 450px;
  height: 350px;
}

div#mainMenu {
  clear: left;
  width: 100%;
  height: 20px;
}

div#content {
  clear: left;
  width: 100%;
}

div#content p {
  margin: 1em .2em .7em 0;
  text-align: left;
  font-size: 1em;
}

div#textLeft {
  float: left;
  width: 650px;
}

div#textRight {
  padding: 0 0 0 20px;
  float: left;
  width: 650px;
  margin-left: 5px;
}

div#textRight p {
  margin: 1em .2em .7em 0;
}

div#textWide {
  float: left;
  width: 760px;
}

div#image {
  float: left;
  width: 250px;
  text-align: center;
  padding: 55px 0 0 0;
}

div#image img {
  margin-top: 40px;
}

div#subMenu {
  float: left;
  width: 170px;
}

ul{
  width: 700px;
  margin-bottom: 20px;
  overflow: hidden;
}
li{
  line-height: 1.5em;
  padding-left: 15px;
  display: inline;
}
#double li  { width: 50%;}
#triple li  { width: 33.333%; }
#quad li    { width: 25%; }
#six li     { width: 16.666%; }

ul#subLinks li {
  width: 180px;
  padding-bottom: 3px;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  background-color: #A00;
  text-align: center;
}

ul#subLinks li a {
  color: #FFF;
  font-weight: bold;
  font-size: .6em;
  text-decoration: none;
}

div.inner-text {
  padding: 10px 0px 10px 10px;
  float: left;
  width: 275px;
}

div.inner-text ol {
  padding: 0 0 0 30px;
}

div.inner-text-wide {
  padding: 10px 0px 10px 10px;
  float: left;
  width: 650px;
}

div.inner-text-wide ol {
  padding: 0 0 0 30px;
}

.top-padded {
  padding-top: 10px;
}

.bottom-padded {
  padding-bottom: 10px;
}

ul.left-padded {
  padding-left: 30px;
}

.at-left{
  float: left;
}

.at-right{
  float: right;
}

ul.styled-ul {
  list-style-type: none;
}

ul.styled-ul li {
  padding-bottom: 3px;
}

div#textOnly p {
  margin: 2em .2em .7em 0;
}

div#textOnly ol {
  margin: 50px 100px 20px;
}

div#textOnly ul {
  margin: 0 50px;
}

div.buttons {
  clear: left;
  padding: 0 0 20px 10px;
}

div#footer {
  clear: left;
  width: 100%;
  height: 20px;
}

div#copyright {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  border-right: 1px solid #FFF;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
}

div#footerMenu {
  float: left;
  height: 100%;
}

div#textLeft h3, div#textRight h3 {
  margin: 1em 0 .7em;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
}

.form-control {
  width: 90px;
}

.centered {
  display: table;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 10px;
}

.input-width {
  width: 150px;
}

.div-table {
  display: table;
  width: 1400px;   
  border-spacing: 5px; /*cellspacing: poor IE support for this*/
}

.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.div-table-col-a {
  float: left;
  display: table-column;
  width: 550px;
}

.div-table-col-b {
  float: left;
  display: table-column;
  width: 150px;
}

.div-table-col-c {
  float: left;
  width: 600px;
}

.div-table-col-d {
  float: left;
  padding-left: 10px;
  padding-top: 30px;
  display: table-column;
  width: 700px;
}

.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.div-table-col-b {
  float: left;
  display: table-column;
  width: 150px;
}

.div-table-col-c {
  float: left;
  width: 600px;
}

.div-table-col-footer {
  float: left;
  display: table-cell;
  width: 220px;
  padding-left: 5px;
  padding-right: 5px;
}

.div-table-col-header {
  display: table-cell;
  width: 150px;
}

.padded {
  padding: 10px 5px 20px 5px; 
}

.menu {
  font-size: 16px;
}

.menu tr td {
  background: #FFF;
  border: 1px solid #FFF;
  font-weight: bold;
}

.menu tr td a {
  color: #000;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  height:100%;
  width:100%;
  padding: 10px;
}

.menu tr td a:hover {
  background: #007bff;
  color: #FFF;
}

#logo {
  border: 1px solid #000;
  border-radius: 5px;
}